@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark] *));

@theme {
  --font-BlueParadise: var(--font-BlueParadise);

  --color-brand-50: #f4f4f4;
  --color-brand-300: #afafaf;
  --color-brand-500: #8b8b8b;
  --color-brand-700: #2f2f2f;
  --color-brand-800: #232323;
  --color-brand-900: #141414;

  --breakpoint-sm: 36rem;

  --animate-fade-in-blur: fade-in-blur 0.5s ease forwards;

  @keyframes fade-in-blur {
    from {
      filter: blur(8px);
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0);
    }
  }
}

@layer components {
  .animation-blur {
    @apply opacity-0;
    animation: var(--animate-fade-in-blur);
  }
}

@layer utilities {
  .disable-scroll::-webkit-scrollbar {
    display: none;
  }

  .disable-scroll {
    scrollbar-width: none;
  }
}

.slick-custom {
  display: flex !important;
  @apply items-center justify-center gap-2 mt-3;
}

.slick-custom li {
  @apply rounded-full bg-brand-500/30 dark:bg-brand-300/30 w-2 h-2;
}

.slick-custom button {
  @apply opacity-0 cursor-pointer;
}

.slick-custom li.slick-active {
  @apply bg-brand-700/50 dark:bg-brand-50/50;
}

::selection {
  background: #f5f5dc;
  color: #4b2e2a;
}
